# Ignore node_modules directory
node_modules

# Ignore Dockerfile and .dockerignore file
Dockerfile
.dockerignore

# Ignore client-side code
client/

# Ignore log files
*.log

# Ignore markdown files
*.md

# Ignore environment files
keys